:root {
	// https://coolors.co/palette/2b2d42-4e2c70-702b9e-b429f9-9c43f8-855df7-6d77f6-5591f5-3eabf4-26c5f3
	/* CSS HEX */
--space-cadet: #2b2d42ff;
--tekhelet: #4e2c70ff;
--grape: #702b9eff;
--electric-purple: #b429f9ff;
--veronica: #9c43f8ff;
--medium-slate-blue: #855df7ff;
--medium-slate-blue-2: #6d77f6ff;
--cornflower-blue: #5591f5ff;
--picton-blue: #3eabf4ff;
--vivid-sky-blue: #26c5f3ff;
}
