.dashboard-header {
	background: #0006;
  backdrop-filter: brightness(0.75) blur(10px);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: var(--navHeight);
	z-index: 100;
	align-items: center;
	display: flex;
	gap: calc(var(--gap) * 2);
	padding-inline: var(--gap);
}

.dashboard-header__title {
	display: flex;
	gap: 1rem;
	color: white;
}

.dashboard-header__image {
	max-height: calc(2rem + 1lh);
}

.dashboard-header__list {
	margin-block: .5rem;
	padding-left: 0;
	display: flex;
	gap: var(--gap);
	list-style: none;
}

.dashboard-header__link {
	color: white;
	line-height: 1;
}
